#sideLeft a {
	display:block;
	padding:10px;
	text-align: right;
}
#preview_page{
  display:none;
}
.activ{
  background-color:#c0c0c0;
  text-decoration:underline;
}
.not_activ{
  background-color:#d6d6d6;
  text-decoration:none;
}
#button_education,#button_post_education,#button_family{
  margin:0 50% 0;
}
/* table
-----------------------------------------------------------------------------*/
/*td input:not(#army),td input:not(.inp){
	width:98%;
}
td input:not(.tab){
	margin:3px;
}*/
table{
margin-left:5%;
}
td{
  color:#647169;
  vertical-align:top;
}

#sex{
	width:290px;
}
#n{
	color:#647169;
  margin:0;
  padding:0;
  text-align:left;
  width:10px;
  display: block;
}

#institution,#specialty,#institute_post,#full_name,
.institution,.specialty,.institute_post,.full_name{
  width:400px;
  height:20px;
}
#year_ending_post,#year_ending,#year_birthday,
.year_ending_post,.year_ending,.year_birthday{
  width:140px;
  height:20px;
}
#diploma,#qvalify,#acad_degree,#family_status,
.diploma,.qvalify,.acad_degree,.family_status{
  width:150px;
  height:20px;
}
#educational_form,.educational_form{
  width:140px;
  height:29px;
}

#last_name,#first_name,#patronymic,#day_birth,#month_birth,#year_birth,
#INN,#sex,#passport_series,#passport_number,#education{
  background-color:#feed8d;
}

#last_name,#first_name,#patronymic,#day_birth,#month_birth,#year_birth,#citizen,
#INN,#sex,#passport_series,#passport_number,#passport_issued,#passport_date,
#last_job,#job_degree,#leave_reason,#pension,#family{
	margin-top:4px;
}
#last_name,#first_name,#patronymic,#citizen{
  width:285px;
}
#day_birth{
	width:60px;
}
#month_birth{
	width:120px;
  margin-left:10px;
}
#year_birth{
	width:90px;
  margin-left:10px;
}
#passport_series{
	width:50px;
}
#passport_number{
	width:120px;
}

#border1 td span{
	display:block;
	text-align:right;
	width:300px;
  padding:10px;
}
td p{
  display:block;
  text-align:left;
  margin-left:25%;
	width:250px;
}
input,textarea,select{
  font-size:18px;
  font-family: Verdana,  Tahoma, sans-serif;
  color:#181817;
  padding-top:5px;
}
input[type="checkbox"]{
margin-top:15px;
}
.button{
	display:block;
	margin:0 auto;
	padding:5px;
}
#border1 .table{
margin:0 auto 0;
	background-color:#f6f6f6;
	padding:0;
    border-collapse:collapse;
	
}
#border1 .table td{
	border:1px solid black;
	padding:0;
}
#content_	p {
	font-size:14px;
	padding:10px 0 0 0;
	color:#5f6162;
}
#content {
	padding: 50px 30px 100px 270px;
	min-height: 800px;
}
#tab3  span,#tab4 span{
    margin-left:10%;
}

td p{
    color:#647169;
  font-family:Verdana;
}
/* punkt
-----------------------------------------------------------------------------*/
#tab1{
	display:block;
}
#tab2{
	display:none;
}
#tab3{
	display:none;
}
#tab4{
	display:none;
}
#tab5{
	display:none;
}	
#tab6{
	display:none;
}	


#button_preview{
  padding:10px 50px;
  margin:30px 0 30px 33px;
}
#button_save{
  padding:10px 50px;
  margin:30px 0 30px 15%;
  
}
#button_exit{
    padding:10px 50px;
    margin:30px 0 30px 33px;
}
/*����� ������*/
a[disabled],input[disabled],a[disabled]:hover{
color:#c0c0c0;
background-color:#f1eded;
opacity:1;
} 

#for_errors {
    display: none;
    position: absolute;
    top: 10%;
    left:50%;
    z-index: 1000;
    background-color: #feed8d;
    border: 1px solid red;
    width: 400px;
    height: 200px;
}