* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	
	
}

header, nav, section, article, aside, footer {
	display: block;
}
body {
	font-size: 19px;  
  font-family: Verdana,  Tahoma, sans-serif;
	height: 100%;
	background-color: #f0f0f0; /* Цвет фона */
	margin: 0 100px 0;
	
}
a{
  font-family:Verdana;
  outline: none;
	text-decoration:none;
}
span{
  color:#647169;
  font-family:Verdana;
}

a:hover {
  cursor: pointer;
}
input[type="button"]
{
  cursor: pointer;  
  vertical-align: middle;
}
img {
	border: none;
}

#wrapper {
	min-width: 1000px;
	max-width: 1500px;
	margin: 0 auto;
	/*min-height: 100%;*/
	height: auto !important;
	height: 100%;
	margin-top:5px;
	
	background-color: #ffffff;
	-moz-border-radius:29px;
	-webkit-border-radius:29px;
	border-radius:29px;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	margin-top:-5px;
	height: 70px;
	background: #d9dff0;
	
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px 10px 0 0;
}
/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	margin: 0 0 50px;
	padding: 0 0 50px;
	height: 100%;
	position: relative;
	
	background-color: #white;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;

}

#content_main {
	padding: 0 270px 0 570px;
	
}
#menu{
	top: -30px; /* Отступ в процентах от верхнего края окна */
	left: 37%; /* Отступ в процентах от левого края окна */
	position: absolute; /* Абсолютное позиционирование блока */
	/*margin-top: -110px;  Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
	margin-left: -350px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
	padding:0 0 8px 0;
	border-bottom:2px solid #34352e;
	
}
.activ_menu{
  background-position: left 35px;
  color:#5798b4;
  opacity:1;

}
ul {
  margin-left:0px;
  font:bold 13pt Verdana, sans-serif;
}
ul li {

  
  list-style:none;
  margin:0;
  display:inline;
  
}
ul li a {
  padding:10px 40px;
  background-color:#292421; 
  border-bottom:none;
  opacity:0.8;
  text-decoration:none;
  color:#f0f0f0;
  
  -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px 10px 0 0;
}
ul li a:hover {
  background-color:#292421; 
  background-position: left 35px;
  color:#6e98cc;
  opacity:1;
  
}

ul li a.current {
  background-color:#292421; 
  color:#6e98cc;
  opacity:1;
}
ul li a.current:hover {
  background-color:#292421; 
  border-bottom:none;
  opacity:0.8;
  text-decoration:none;
  color:#6e98cc;
  opacity:1;


}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 300px;
	margin-left: -100%;
	position: relative;
	background: #ffffff;
	padding:50px 20px;
}



/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -100px auto 0;
	min-width: 1000px;
	max-width: 1500px;
	height: 50px;
	background: #BFF08E;
	position: relative;
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:0 0 10px 10px;
}
#foot{
	color: #141414;
	font-weight: bold;
	font-size:10px;
	display: block;
	padding: 20px 40%;
}